.bg-primary {
  background-color: #79bac1 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #148f77 !important;
}

.badge-primary {
  color: #fff;
  background-color: #79bac1;
}

.bg-secondary {
  background-color: #2a7886 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #1a252f !important;
}

.bg-whity {
  background-color: #f1f3f4 !important;
}

a.bg-whity:hover, a.bg-whity:focus,
button.bg-whity:hover,
button.bg-whity:focus {
  background-color: #79bac1 !important;
}

.bg-tertiary {
  background-color: #512b58 !important;
}

a.bg-tertiary:hover, a.bg-tertiary:focus,
button.bg-tertiary:hover,
button.bg-tertiary:focus {
  background-color: #1a252f !important;
}

.bg-whity {
  background-color: #f1f3f4 !important;
}

a.bg-whity:hover, a.bg-whity:focus,
button.bg-whity:hover,
button.bg-whity:focus {
  background-color: #1a252f !important;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: #f1f3f4;
}

.my-title{
  font-weight: 400;
}

.more-padding-bottom{
  padding-bottom: 25px;
}

.more-padding-top{
  padding-top: 25px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}
